<tr>
  <td><%= pin.description %></td>
  <td class="options">
  	<%= link_to (content_tag :i, "", class:"icon-search"), pin, :class => 'pull-right' %>
	  <% if current_user == pin.user %>
		  <%= link_to (content_tag :i, "", class:"icon-pencil"), edit_pin_path(pin), :class => 'pull-right' %>
		  <%= link_to (content_tag :i, "", class:"icon-trash"), pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'pull-right' %>
		  </td>
		<% else %>
		  </td>
		<% end %>
</tr>