<div class="hero-unit">
  <h1>Share Those "Aha!" Moments</h1>
  <p>Maybe you read a Tweet that sparked it. Or possibly you were sitting there... thinking about what on earth happened last night... and then it hits you. Maybe even... an in-depth conversation is happening around you and all of a sudden...</p>
  <p>Everyone has 'em - those moments in which that cartoon lightbulb appears. "Aha! That's what that means" or "Finally! I get it!" or maybe even "Really?! I had no idea..." Chances are, there's other people out there who probably don't realize it either - so come on, sharing is caring.</p>
  <p><%= link_to "Sign Up Now!", new_user_registration_path, class:" btn btn-primary btn-large" %></p>
</div>
