$baseFontFamily: Merriweather Sans;
@Import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,300);

$navbarBackgroundHighlight: black;
$navbarHighlight: black;
$navbarText: white;
$navbarLinkColor: lightGray;
$navbarLinkColorHover: white;

@import "bootstrap";

body {
	padding-top: 60px;
}

@import "bootstrap-responsive";

/* Header Stuff */
.navbar {
	li {
		line-height:25px;
	}
}

/* Footer Stuff */
.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Homepage */
.hero-unit {
	h1 {
		margin-bottom: 25px;
	}
	.btn {
		margin-top: 25px;
	}
}