$baseFontFamily: Merriweather Sans;
@Import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,300);

$navbarBackgroundHighlight: black;
$navbarHighlight: black;
$navbarText: yellow;
$navbarLinkColor: lightGray;
$navbarLinkColorHover: white;
$navbarHeight: 45px;


@import "bootstrap";

body {
	padding-top: 60px;
}

@import "bootstrap-responsive";

/* Header Stuff */


/* Footer Stuff */
footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* General Stuff */


/* Homepage */
#homepageHeader {
	background-color: #EAF1F4;
	border-bottom: 4px solid #333;
	margin: -10px 0 50px 0;
	padding: 30px 0;
	h2 {
		margin-bottom: 25px;
	}
	p {
		margin-top: 25px;
	}
	.btn {
		margin-top: 25px;
	}
	
	/* Homepage Step Graphics */
	.homeSteps {
		height: 200px; width: 300px;
		margin: 0 auto;
		background: url("/assets/home_steps.png") no-repeat;
	}
	#step2 {
		background-position: 0 -200px;
	}
	#step3 {
		background-position: 0 -400px;
	}
}

#signUpNotice {
	margin-top: -30px;
}

/* Pins */
#pins {
	.options {
		width: 70px;
			a {
				margin: 0 2px;
			}
	}
}
#myPins {
	position:relative;
	#noPinsGetStarted {
		top: -23px; left: 115px;
		height: 94px; width: 400px;
		position: absolute;
		background: url("/assets/noPinsGetStarted.png") no-repeat;
	}
}
#greatest {
	.options {
		display:none;
	}
}

.iconSelected {
	cursor: default;
	i {
		background-image: url("/assets/glyphicons-halflings-hover.png");
	}
}